// Uncomment this for a sticky footer.
//
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.wrapper:after {
  content: "";
  display: block;
}

.footer, .wrapper:after {
  $large-screen: 50em !default;
  height: 12em;

  @include media($large-screen) {
    height: 4em;
  }
}

.footer {

  display: block;
  margin: auto;
  width: 64%;
  @include media($medium-screen) {
    width: 16%;
    margin-top: 56px;
  }

  ul {
    margin: 0;
    padding-left: 0;


    li {
      line-height: 1.5em;
      padding-right: 1em;

      @include media($large-screen) {
        display: inline;
        text-align: left;
      }
    }
  }
}
