section.home {
  .banner {
    @include media($large-screen) {
      margin: auto;
      width: 50%;
    }

    header {
      margin-top: 40px;
      margin-bottom: 8px;
      text-align: center;
      width: 100%;
      h1 {
        margin-bottom: 8px;
        font-size: 1.5em;
      }
      p.subtitle {
        margin-top: 0;
      }
      .practical {
        margin-bottom: 0;
      }
    }

    button {
      display: block;
      margin: auto;
      width: 68%;
      @include media($medium-screen) {
        width: 32%;
      }
    }

    p.price {
      text-align: center;
      font-size: 0.9em;
      margin-top: 1em;
    }
  }
}

section.introduction {
  padding-top: 5.063em;
  article.box {
    margin-bottom: 3.375em;
    @include media($medium-screen) {
      @include span-columns(4);
      padding: 1em;
    }
    h2 {
      text-align: center;
    }
  }

  table.calendar {
    td.date {
      text-align: right;
    }

  }
}
