section.home {
  @include media($medium-screen) {
    @include outer-container(80%);
  }

  .banner {
    @include media($large-screen) {
      margin: auto;
      width: 50%;
    }

    header {
      margin-top: 40px;
      text-align: center;
      width: 100%;
      h1 {
        margin-bottom: 8px;
        font-size: 1.5em;
      }
      p.subtitle {
        margin-top: 0;
      }
    }

    button {
      display: block;
      margin: auto;
      width: 32%;
    }
  }
}
