html {
  background-color: $base-background-color;
}

section {
  @include outer-container(90%);
  margin-top: 2.25em;
  @include media($medium-screen) {
    @include outer-container(80%);
  }
  header, .practical {
    @include media($medium-screen) {
      margin: auto;
      margin-bottom: 56px;
      width: 50%;
      float: none;
    }
  }
}

h1 {
  text-align: center;
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  margin-top: 36px;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
}

p.more {
  a {
    text-decoration: underline;
  }
}

i.fa {
  color: $action-color;
  margin-right: 8px;
}


