section.location {
  @include outer-container(80%);

  h1 {
    text-align: center;
  }

  header, .practical {
    @include media($medium-screen) {
      margin: auto;
      width: 50%;
      float: none;
    }
  }


  .content {
    @include media($medium-screen) {
      // @include span-columns(6);
      margin: auto;
      width: 50%;
      float: none;
    }

    img {
      margin-top: 40px;
    }
  }
}
