<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="logo"><a href="/">CHASE - JUNE 21st - 23rd 2017<br>GHENT UNIVERSITY, BELGIUM</a>
    </div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">about</a></li>
        <li class="nav-link"><a href="/location.html">location</a></li>
        <li class="nav-link"><a href="/accomodation.html">accomodation</a></li>
        <li class="nav-link"><a href="javascript:void(0)">presenters</a></li>
        <li class="nav-link"><a href="/contact.html">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
