---
title: CHASE - Contact
---

<section class="location">
  <header>
    <h1>Contact</h1>
  </header>
  <div class="content">
    <p>Please feel free to contact the members of the organizing committee Piet Bracke, Veerle Buffel &amp; Tim Huijts for further information:</p>
    <p><i class="fa fa-envelope"></i><a href="mailto:piet.bracke@ugent.be">Piet.Bracke@UGent.be</a><br>
    <i class="fa fa-envelope"></i><a href="mailto:veerle.buffel@ugent.be">Veerle.Buffel@UGent.be</a><br>
    <i class="fa fa-envelope"></i><a href="mailto:tim.huijts@york.ac.uk">Tim.Huijts@york.ac.uk<a></p>
  </div>
</section>
