---
title: Welcome to Middleman
---

<section class="home">
  <div class="banner">
    <%= image_tag "chase-big.png" %>
    <header>
      <h1>COMPARING HEALTH ACROSS SOCIETIES-CHASE</h1>
      <p class="subtitle">The 4th workshop on comparitive health sociology</p>
      <div class="practical">
        <p class="date">June 21st - 23rd 2017</p>
        <p>Department of Sociology Ghent University, Belgium</p>
      </div><!-- .practical -->
    </header>
    <button>REGISTER TODAY</button>
    <p class="price"><strong>250€</strong>, including coffee, lunch and social dinner</p>
    </div><!-- .banner -->
</section>
