---
title: Welcome to Middleman
---

<section class="home">
  <div class="banner">
    <%= image_tag "chase-big.png" %>
    <header>
      <h1>COMPARING HEALTH ACROSS SOCIETIES-CHASE</h1>
      <p class="subtitle">The 4th workshop on comparitive health sociology</p>
      <div class="practical">
        <p class="date">June 21st - 23rd 2017</p>
        <p>Department of Sociology Ghent University, Belgium</p>
      </div><!-- .practical -->
    </header>
    <button>REGISTER TODAY</button>
    <p class="price"><strong>250€</strong>, including coffee, lunch and social dinner</p>
    </div><!-- .banner -->
</section>
<section class="introduction">
  <article class="box">
    <h2>About</h2>
    <p>After a successful workshop in Trondheim in 2015, we are pleased to invite you to CHASE, the 4th workshop on comparative health research.</p>
    <p>The main goal of the meeting is to share knowledge on theory as well as methods for comparative research in sociological epidemiology and health sociology.</p>
    <p>We want to focus on research contributing to the study of societies and social change and their consequences for population health.</p>
    <p>Apart from sessions organized around in-depth discussions of full high-quality papers, we plan time slots for a more informal exchange of ideas and enthusiasm.</p>
  </article>
  <article class="box">
    <h2>Paper Prize</h2>
    <p>An award is granted to the best paper presented at the workshop.</p>
    <p>Eligible are PhD students and postdoctoral researchers who defended their dissertation in 2017.</p>
    <p>The winner of the best paper will receive a money prize and a certificate.</p>
    <p>Winner: to be announced</p>
  </article>
  <article class="box">
    <h2>Mark Your Calendar</h2>
    <table class="calendar">
      <tr>
        <td>Notice of acceptance/rejection of abstracts</td>
        <td class="date">8 March 2017</td>
      </tr>
      <tr>
        <td>Registration opens</td>
        <td class="date">13 March 2017</td>
      </tr>
      <tr>
        <td>Registration closes </td>
        <td class="date">15 May 2017</td>
      </tr>
      <tr>
        <td>Submission full-papers presenters</td>
        <td class="date">15 May 2017</td>
      </tr>
    </table>
  </article>
</section>
