---
title: Location and transport
---

<section class="location">
  <header>
    <h1>Location &amp; Transport</h1>
  </header>
  <div class="practical">
    <p>"Het Pand"<br>
    Onderbergen 1<br>
    9000 Gent</p>
  </div>
  <div class="content">
    <p>The conference will take place at “Het Pand”.  Het Pand is an old Dominican monastery located in the heart of the city on the banks of the river Leie, near the medieval port with the guildhalls as its remnants.</p>
    <%= image_tag "pand-large.jpg" %>
    <h2>How to get there?</h2>
    <h3>By public transport</h3>
    <p>The public transport in the city is well organised, with a comprehensive network of trams and buses.  A free map with the service in Ghent can be asked for at the so-called Lijnwinkels (the shops of transport company ‘De Lijn’), located at the main bus terminals: near Gent-Sint-Pieters railway station, near Korenmarkt and at Gent-Zuid (Ghent South). This map is also available at the Inquiry Desk Visit Gent. Buy your ticket in advance at the ‘Lijnwinkels’ or from the vending machine at the bus stop.</p>
    <ul>
      <li>From station Gent Sint-Pieters: take tram 1 (direction Wondelgem or Evergem). Exit at Korenmarkt.</li>
      <li>From Gent Zuid: take tram 4 (Direction UZ Gent – Muide). Exit at Korenmarkt.</li>
    </ul>
    <h3>By Car</h3>
    <ul>
      <li>Follow the parking signage to parking P7 Sint-Michiels. The parking is located at 50 meter from Het Pand. Take the exit Onderbergen and you come out in the Wilderoosstraat, opposite Het Pand.
      </li>
      <li>An alternative parking is P8 Ramen. From here it's about 5 minutes on foot to Het Pand.
      </li>
    </ul>
    <p class="more"><a href="https://visit.gent.be/en/how-get-ghent">More information about getting to Ghent or getting around Ghent</a></p>
  </div>
</section>
