---
title: Location and transport
---

<section class="location">
  <header>
    <h1>Location &amp; Transport</h1>
  </header>
  <div class="practical">
    <p>"Het Pand"<br>
    Onderbergen 1<br>
    9000 Gent</p>
  </div>
  <div class="content">
    <p>The conference will take place at “Het Pand”.  Het Pand is an old Dominican monastery located in the heart of the city on the banks of the river Leie, near the medieval port with the guildhalls as its remnants.</p>
    <%= image_tag "pand-large.jpg" %>
  </div>
</section>
