---
title: CHASE - presenters &amp; programme
---

<section class="presenters">
  <header>
  <h1>Presenters &amp; Programme</h1>
  <p>Prof. Bernice Pescosolido (<a href="http://www.indiana.edu/~soc/bios/Bernice_Pescosolido.html">Indiana University Bloomington</a>) will be the keynote speaker of the CHASE conference.
  The title of the keynote: <strong>The Global Landscape of Stigma</strong></p>
  </header>
</section>
