---
title: CHASE - presenters &amp; programme
---

<section class="presenters">
  <header>
  <h1>Presenters &amp; Programme</h1>
  <p>Prof. Bernice Pescosolido (<a href="http://www.indiana.edu/~soc/bios/Bernice_Pescosolido.html">Indiana University Bloomington</a>) will be the keynote speaker of the CHASE conference.
  The title of the keynote: <strong>The Global Landscape of Stigma</strong></p>
  </header>
  <table class="programme">
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 80%;">
    </colgroup>
    <tr>
      <th colspan="2">
        Wednesday, June 21th
      </th>
      <tr>
        <td class="time">12:00-12:30</td>
        <td>Registration – Korte Meer 5, ground floor</td>
      </tr>
      <tr>
        <td>12:30-13:00</td>
        <td>Introduction and welcome – Piet Bracke</td>
      </tr>
      <tr>
        <td>13:00-14:15</td>
        <td><p><strong>Session</strong> - Conference room John Vincke, Korte Meer 5, ground floor</p>
          <p><strong>Session 1</strong></p>
          <p class="session">Megan M. Reynolds and Mauricio Avendano  "Social Policy as Health Policy:  Social Expenditures and Life Expectancy Gains in the US and 19 Other High-Income Countries”</p>
          <ul>
            <li>Discussant: Sigrun Olafsdottir</li>
          </ul>
          <p class="session">Jonas Vossemer, “Does early-career involuntary job loss affect self-rated health in late life in Europe”</p>
          <ul>
            <li>Discussant: Veerle Buffel</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>14:15-14:45</td>
        <td>Coffee and tea – Korte Meer 5, ground floor</td>
      </tr>
      <tr>
        <td>14:45-16:15</td>
        <td>
          <p>Session - Conference room John Vincke</p>
          <p><strong>Session 2</strong></p>
          <p class="session">Angel R. Zapata Moya and Piet Bracke, "‘Preventive diffusion-contexts’ and fundamental ""meta-mechanisms"": a dynamic analytical proposition for comparing health inequalities across societies”</p>
          <ul>
            <li>Discussant: Bernice Pescosolido</li>
          </ul>
          <p class="session">Deborah De Moortel, Paulien Hagedoorn, Christophe Vanroelen and Sylvie Gadeyne, "Employment Status and Mortality in the context of high and low regional employment levels in Belgium (2001-2011): The Protective effect of education?” </p>
          <ul>
            <li>Discussant: Penelope Siebert</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>16:15-17:00</td>
        <td>
          <p><strong>Keynote</strong>  -  Conference room John Vincke, Korte Meer 5, ground floora</p> 
          <p class="session">Bernice Pescosolido “The Global Landscape of Stigma</p>
        </td>
      </tr>
      <tr>
        <td>17:00-19:30</td>
        <td>Aperitif</td>
      </tr>
    </tr>
  </table>
  <table class="programme">
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 80%;">
    </colgroup>
    <tr>
      <th colspan="2">
        Thursday, June 22st 
      </th>
    </tr>
    <tr>
      <td>9:30-10:45</td>
      <td>
        <p><strong>Korpi Session</strong> - Conference room John Vincke</p>
        <p><strong>Session 3</strong></p>
        <p class="session">Daniel Weiss, “ Innovative technologies and social inequalities in health: a systematic review of the literature.”</p>
        <ul>
          <li>Presenter: Johanna Muckenhuber</li>
        </ul>
        <p class="session">Johanna Muckenhuber, “Puffer effect of welfare states or relative deprivation? European welfare state regimes, job demands and the number of health problems, University Graz, department of sociology, johanna.muckenhuber@unigraz.at</p>
        <ul>
          <li>Presenter: Daniel Weiss</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>10:45-11:15</td>
      <td>Coffee and tea – Korte Meer 5, ground floor</td>
    </tr>
    <tr>
      <td>11:15-12:30</td>
      <td>
        <p><strong>Session</strong> - Conference room John Vincke</p>
        <p><strong>Session 4:</strong></p>
        <p class="session">Bram Vanhoutte, Morten Wahrendorf, and James Nazroo,  "Timing, duration and order: The influence of housing histories on later life wellbeing.”</p>
        <ul>
          <li>Discussant: Tim Huijts</li>
        </ul>
        <p class="session">Bernice A. Pescosolido, Sigrún Ólafsdóttir and Bianca Manago, “The Coercive Tendency in Response to Mental Illness: Individual Locus, Disease Assessment, or National Climate?"</p>
        <ul>
          <li>Discussant: Piet Bracke</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>12:30-13:45</td>
      <td>Lunch -  Korte Meer 5, ground floor</td>
    </tr>
    <tr>
      <td>13:45-15:00</td>
      <td>
        <p><strong>Korpi Session</strong> - Conference room John Vincke</p>
        <p><strong>Session 5</strong></p>
        <p class="session">Rachel Reckinger and Faustine Régnier, “Do Public Health Campaigns Have an Impact on Diet? Institutional Set-Up and Everyday Appropriations of Nutritional Recommendations in France and Luxembourg”</p>
        <ul>
          <li>Presenter: Arndis Vilhjalmsdottira</li>
        </ul>
        <p class="session">Arndis Vilhjalmsdottira, Jon Gunnar Bernburgb Ragna B. Gardarsdottira, and
        Inga Dora Sigfusdottirc  “Community income inequality and adolescent emotional problems: a population based study."</p>
        <ul>
          <li>Presenter: Rachel Reckinger</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>15:00-15:45</td>
      <td>Walking to “het Pand”, Onderbergen 1</td>
    </tr>
    <tr>
      <td>15:45-17:00</td>
      <td>
        <p><strong>Salon Discussions</strong>  – Bibliotheca Dominicana (Library of “het Pand”),  Onderbergen 1</p>
        <p><strong>Discussion topics</strong></p>
        <ol>
          <li>Comparative research on health inequalities: national, regional, and/or global?</li>
          <li>How important is sociology in comparative health research?</li>
          <li>Examining social determinants of health in a comparative perspective: are we moving 'upstream' or 'downstream'?</li>
        </ol>
        <ul>
          <li>Moderator: Tim Huijts</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>19:00</td>
      <td>Meeting dinner at “Multatuli” - Huidevetterskaai 40</td>
    </tr>
  </table>
  <table class="programme">
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 80%;">
    </colgroup>
    <tr>
      <th colspan="2">
        Friday, June 23st 
      </th>
    </tr>
    <tr>
      <td>9:30-11:00</td>
      <td>
        <p>Session – Korte Meer 5, ground floor</p>
        <p><strong>Session 6</strong></p>
        <p class="session">Håvard T. Rydland, "Educational gradients in more and less preventable health conditions: Results from the seventh round of the European Social Survey.</p>
        <ul>
          <li>Discussant: David Blane
        </ul>
        <p class="session">Barbara Willems and Piet Bracke, Participants, "Physicians or Programmes: Does the initiation matter for educational inequalities in cancer screening participation?"</p>
        <ul>
          <li>Discussant: Mel Bartley</li>
        </ul>
        <p class="session">Katrijn Delaruelle, Mieke Van Houtte and Piet Bracke, “Educational inequalities in general and mental health: does the curricular tracking system matter?”</p>
        <ul>
          <li>Discussant: Sarah Van de Velde</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>11:00-11:30</td>
      <td>Coffee and tea – Korte Meer 5, ground floor</td>
    </tr>
    <tr>
      <td>11:30-12:00</td>
      <td><strong>Paper prize and farewell</strong> – Korte Meer 5, ground floor</td>
    </tr>
    <tr>
      <td>12:00</td>
      <td>
        <p>Take a way lunch</p>
        <p><strong>End of the meeting</strong></p>
      </td>
    </tr>
  </table>
</section>
