---
title: CHASE - presenters &amp; programme
---

<section class="presenters">
  <header>
  <h1>Presenters &amp; Programme</h1>
  <p>Prof. Bernice Pescosolido (<a href="http://www.indiana.edu/~soc/bios/Bernice_Pescosolido.html">Indiana University Bloomington</a>) will be the keynote speaker of the CHASE conference.
  The title of the keynote: <strong>The Global Landscape of Stigma</strong></p>
  </header>
  <table class="programme">
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 80%;">
    </colgroup>
    <tr>
      <th colspan="2">
        Wednesday, June 21th
      </th>
      <tr>
        <td class="time">12:00-12:30</td>
        <td>Registration – Korte Meer 5, ground floor</td>
      </tr>
      <tr>
        <td>12:30-13:00</td>
        <td>Introduction and welcome – Piet Bracke</td>
      </tr>
      <tr>
        <td>13:00-14:15</td>
        <td><p><strong>Session</strong> - Conference room John Vincke, Korte Meer 5, ground floor</p>
          <p><strong>Session 1</strong></p>
          <p class="session">Megan M. Reynolds and Mauricio Avendano  "Social Policy as Health Policy:  Social Expenditures and Life Expectancy Gains in the US and 19 Other High-Income Countries”</p>
          <ul>
            <li>Discussant: Sigrun Olafsdottir</li>
          </ul>
          <p class="session">Jonas Vossemer, “Does early-career involuntary job loss affect self-rated health in late life in Europe”</p>
          <ul>
            <li>Discussant: Veerle Buffel</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>14:15-14:45</td>
        <td>Coffee and tea – Korte Meer 5, ground floor</td>
      </tr>
      <tr>
        <td>11:15-12:30</td>
        <td>
          <p>Session - Conference room John Vincke</p>
          <p><strong>Session 2</strong></p>
          <p class="session">Angel R. Zapata Moya and Piet Bracke, "‘Preventive diffusion-contexts’ and fundamental ""meta-mechanisms"": a dynamic analytical proposition for comparing health inequalities across societies”</p>
          <ul>
            <li>Discussant: Penelope Siebert</li>
          </ul>
          <p class="session">Daniel Weiss, “ Innovative technologies and social inequalities in health: a systematic review of the literature.”</p>
          <ul>
            <li>Discussant: Paul Windrum
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>16:15-17:00</td>
        <td>
          <p><strong>Keynote</strong>  -  Conference room John Vincke, Korte Meer 5, ground floora</p> 
          <p class="session">Bernice Pescosolido “The Global Landscape of Stigma</p>
        </td>
      </tr>
      <tr>
        <td>17:00-19:30</td>
        <td>Aperitif</td>
      </tr>
    </tr>
  </table>
  <table class="programme">
    <tr>
      <th colspan="2">
        Thursday, June 22st 
      </th>
    </tr>
    <tr>
      <td>9:30-10:45</td>
      <td>
        <p><strong>Korpi Session</strong> - Conference room John Vincke</p>
        <p class="session">Deborah De Moortel, Paulien Hagedoorn, Christophe Vanroelen and Sylvie Gadeyne, "Employment Status and Mortality in the context of high and low regional employment levels in Belgium (2001-2011): The Protective effect of education?”</p>
        <ul>
          <li>Presenter: Johanna Muckenhuber</li>
        </ul>
        <p class="session">Johanna Muckenhuber, “Puffer effect of welfare states or relative deprivation? European welfare state regimes, job demands and the number of health problems, University Graz, department of sociology, johanna.muckenhuber@unigraz.at</p>
        <ul>
          <li>Presenter: Deborah De Moortel</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>10:45-11:15</td>
      <td>Coffee and tea – Korte Meer 5, ground floor</td>
    </tr>
    <tr>
      <td>11:15-12:30</td>
      <td>
        <p><strong>Session</strong> - Conference room John Vincke</p>
        <p>Session 4:</p>
        <p class="session">Bram Vanhoutte, Morten Wahrendorf, and James Nazroo,  "Timing, duration and order: The influence of housing histories on later life wellbeing.”</p>
        <ul>
          <li>Discussant: Tim Huijts</li>
        </ul>
      </td>
    </tr>
  </table>
</section>
